<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Management System</title>
    <link rel="stylesheet" tyoe="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h1>Order Management System</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/orders}"> Manage Order </a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/customers}"> Manage Customer </a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/products}"> Manage Product </a>
    </div>
</div>
</body>
</html>