<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage orders</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Manage OrderLines</h2></div>
  <div class="m-2">
    <a class="h3" th:href="@{/orderLines/new}">Add New OrderLine</a>
  </div>
  <div class="m-2">
    <a class="h5" th:href="@{/}">HomePage</a>
  </div>
  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>
  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Order time</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="orderLine : ${listOrderLines}">
        <tr>
          <td>[[${orderLine.id}]]</td>
          <td>[[${orderLine.product.name}]]</td>
          <td>[[${orderLine.quantity}]]</td>
          <td>[[${orderLine.order.createdTime}]]</td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>